body{
    background-image: url('https://images.all-free-download.com/images/graphiclarge/old_paper_background_hd_picture_2_169574.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#intro{
    background-color:whitesmoke;
    border: 5px solid black;
    background-image:url('https://www.kitchentreaty.com/wp-content/uploads/2017/02/how-to-make-heart-shaped-pizzas-featured-660x430.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#tagLine{
    text-align: center;
}
.guide {
    display: inline;
    color:black;
    text-decoration: none;
    font-size: 25px;
    padding-left: 0px;
    padding-right: 40px;
}
.guide:hover {
    background-color: #ddd;
    color: black;
}
.guide.active {
    background-color: #4CAF50;
    color: white;
}
#Today{
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    text-decoration: underline;
}
#menu{
    border: 1px solid black;
    background-image: url('https://previews.123rf.com/images/maryvalery/maryvalery1604/maryvalery160400016/55364035-pizza-seamless-pattern-delicious-slice-of-pizza-background-traditional-italian-food-ornament-texture.jpg')
}
#sectionTitle{
    text-decoration: underline;
    text-align: center;
}
#visit{
    background-color: white;
}